<div (click)="close()" class="modal-screen">
  <div class="modal-box">
    <h2>Settings:</h2>
    <div class="settings-container">
      <div class="btn-group" role="group">
        <button *ngFor="let opperation of opperations" class="btn btn-primary">
          {{ opperation }}
        </button>
      </div>
      <!-- ************* -->
      <!-- How I need it to be later: -->
      <div class="addition-settings specific-settings">
        <!-- ***Use a bootstrap checkbox button group for this!!!!! :)-->
      </div>
      <div class="subtraction-settings specific-settings"></div>
      <div class="multiplication-settings specific-settings"></div>
      <div class="division-settings specific-settings"></div>
    </div>
  </div>
</div>
